* {
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vw;
  height: 100vh;
}
.container {
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}
#textdiv {
  z-index: 4;
  background-color: #ddd;
  position: absolute;
  top: 30%;
  left: 27.5%;
  width: 30em;
  height: max-content;
  font-family: "Press Start 2P";
}
#startgame {
  height: 40vh;
  width: 50vw;
  position: absolute;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stargame:hover {
  background-color: rgb(195, 186, 186);
}
.hidden {
  display: none;
}
.zichtbaar {
  display: flex;
}
