* {
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}
#textdiv {
  z-index: 4;
  display: flex;
  background-color: #ddd;
  position: absolute;
  top: 25%;
  left: 32%;
  width: 20em;
  height: max-content;
  font-family: "Press Start 2P";
}
